In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1

In [4]:
test.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7

In [5]:
col = train.columns
col

Index(['pet_id', 'issue_date', 'listing_date', 'condition', 'color_type',
       'length(m)', 'height(cm)', 'X1', 'X2', 'breed_category',
       'pet_category'],
      dtype='object')

In [6]:
train.describe()

,condition,length(m),height(cm),X1,X2,breed_category,pet_category
count,17357.000000,18834.000000,18834.000000,18834.000000,18834.000000,18834.000000,18834.000000
mean,0.883390,0.502636,27.448832,5.369598,4.577307,0.600563,1.709143
std,0.770434,0.288705,13.019781,6.572366,3.517763,0.629883,0.717919
min,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.250000,16.172500,0.000000,1.000000,0.000000,1.000000
50%,1.000000,0.500000,27.340000,0.000000,4.000000,1.000000,2.000000
75%,1.000000,0.760000,38.890000,13.000000,9.000000,1.000000,2.000000
max,2.000000,1.000000,50.000000,19.000000,9.000000,2.000000,4.000000

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18834 entries, 0 to 18833
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pet_id          18834 non-null  object
 1   issue_date      18834 non-null  object
 2   listing_date    18834 non-null  object
 3   condition       17357 non-null  float64
 4   color_type      18834 non-null  object
 5   length(m)       18834 non-null  float64
 6   height(cm)      18834 non-null  float64
 7   X1              18834 non-null  int64
 8   X2              18834 non-null  int64
 9   breed_category  18834 non-null  float64
 10  pet_category    18834 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 1.6+ MB

In [8]:
def nan_counts(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent_1 = df.isnull().sum()/df.isnull().count()*100
    percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
    missing_df = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
    print(missing_df.head(7))
    
nan_counts(train)

                Total    %
condition        1477  7.8
pet_category        0  0.0
breed_category      0  0.0
X2                  0  0.0
X1                  0  0.0
height(cm)          0  0.0
length(m)           0  0.0

In [9]:
nan_counts(test)

              Total    %
condition       619  7.7
X2                0  0.0
X1                0  0.0
height(cm)        0  0.0
length(m)         0  0.0
color_type        0  0.0
listing_date      0  0.0

In [10]:
gkk = train.groupby(['pet_category', 'breed_category']) 
gkk.first()

                                 pet_id           issue_date  \
pet_category breed_category
0            0.0             ANSL_65692  2017-08-27 00:00:00
             1.0             ANSL_76598  2018-04-11 00:00:00
             2.0             ANSL_75066  2018-03-01 00:00:00
1            0.0             ANSL_69903  2016-07-10 00:00:00
             1.0             ANSL_52759  2018-06-05 00:00:00
             2.0             ANSL_54000  2018-01-14 00:00:00
2            0.0             ANSL_66892  2013-11-21 00:00:00
             1.0             ANSL_52200  2017-10-25 00:00:00
             2.0             ANSL_58880  2016-01-30 00:00:00
4            0.0             ANSL_55562  2018-04-25 00:00:00
             1.0             ANSL_56697  2014-10-31 00:00:00
             2.0             ANSL_69750  2014-09-28 00:00:00

                                    listing_date  condition   color_type  \
pet_category breed_category
0            0.0             2018-09-27 13:22:00        2.0        White
             1.0             2019-05-05 13:23:00        2.0        White
             2.0             2018-09-20 10:42:00        NaN          Red
1            0.0             2016-09-21 16:25:00        2.0  Brown Tabby
             1.0             2018-09-02 17:04:00        0.0        White
             2.0             2018-02-11 14:49:00        NaN        White
2            0.0             2018-12-27 17:47:00        1.0        White
             1.0             2019-03-10 13:18:00        0.0          Red
             2.0             2016-09-20 12:18:00        NaN        Black
4            0.0             2018-11-22 15:35:00        1.0        White
             1.0             2016-11-21 15:26:00        2.0        Brown
             2.0             2016-10-19 08:24:00        NaN        Brown

                             length(m)  height(cm)  X1  X2
pet_category breed_category
0            0.0                  0.08       14.46   0   1
             1.0                  0.74        6.95  13   9
             2.0                  0.15       36.73  12   1
1            0.0                  0.80        7.78  13   9
             1.0                  0.15       25.48   7   1
             2.0                  0.03       21.90  13   9
2            0.0                  0.72       14.19  13   9
             1.0                  0.92       29.56   0   7
             2.0                  0.71        5.23  18   4
4            0.0                  0.37       21.97   0   1
             1.0                  0.65       18.14  13   9
             2.0                  0.15       40.90  15   4

In [11]:
from datetime import datetime
import calendar 

date_time_str = train.issue_date[0]
date_time_obj = datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
print('Date:', date_time_obj.date()) 
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

Date: 2016-07-10
Time: 00:00:00
Date-time: 2016-07-10 00:00:00

In [12]:
train['issue_date_dt'] = train['issue_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').date())
train['listing_date_dt'] = train['listing_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').date())

test['issue_date_dt'] = test['issue_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').date())
test['listing_date_dt'] = test['listing_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').date())

In [13]:
train['date_diff'] = pd.to_datetime(train['listing_date_dt'], format='%Y-%m-%d') - pd.to_datetime(train['issue_date_dt'], format='%Y-%m-%d')
train['date_diff'] = train['date_diff'].dt.days.apply(lambda x: int(x))

test['date_diff'] = pd.to_datetime(test['listing_date_dt'], format='%Y-%m-%d') - pd.to_datetime(test['issue_date_dt'], format='%Y-%m-%d')
test['date_diff'] = test['date_diff'].dt.days.apply(lambda x: int(x))

In [14]:
train[train['condition'].isnull()].pet_category.value_counts()

4    783
1    583
2     60
0     51
Name: pet_category, dtype: int64

In [15]:
train[train['condition'].isnull()].breed_category.value_counts()

2.0    1477
Name: breed_category, dtype: int64

In [16]:
train.pet_category.value_counts()

2    10621
1     7184
4      941
0       88
Name: pet_category, dtype: int64

In [17]:
train.breed_category.value_counts()

0.0    9000
1.0    8357
2.0    1477
Name: breed_category, dtype: int64

Interesting observations can be seen as ever NaN value seems to have breed_category as 2 and most of them relate to pet_category 0

In [18]:
train.condition.value_counts()

1.0    6819
0.0    6281
2.0    4257
Name: condition, dtype: int64

In [19]:
test.condition.value_counts().sum()

7453

For now let's replace Nan in condition column with 3.0 and add a row indicating a missing value was present here...

In [20]:
train['condition'+'nan']=np.where(train['condition'].isnull(),1,0)
train["condition"].fillna("3.0", inplace = True)

test['condition'+'nan']=np.where(test['condition'].isnull(),1,0)
test["condition"].fillna("3.0", inplace = True)

In [21]:
train['height(m)'] = train['height(cm)']/100
test['height(m)'] = test['height(cm)']/100

In [22]:
train = train.drop(['height(cm)'], axis=1)
test = test.drop(['height(cm)'], axis=1)

In [23]:
train.head().T

,0,1,2,3,4
pet_id,ANSL_69903,ANSL_66892,ANSL_69750,ANSL_71623,ANSL_57969
issue_date,2016-07-10 00:00:00,2013-11-21 00:00:00,2014-09-28 00:00:00,2016-12-31 00:00:00,2017-09-28 00:00:00
listing_date,2016-09-21 16:25:00,2018-12-27 17:47:00,2016-10-19 08:24:00,2019-01-25 18:30:00,2017-11-19 09:38:00
condition,2,1,3.0,1,2
color_type,Brown Tabby,White,Brown,White,Black
length(m),0.8,0.72,0.15,0.62,0.5
X1,13,13,15,0,18
X2,9,9,4,1,4
breed_category,0,0,2,0,0
pet_category,1,2,4,2,1
issue_date_dt,2016-07-10,2013-11-21,2014-09-28,2016-12-31,2017-09-28
listing_date_dt,2016-09-21,2018-12-27,2016-10-19,2019-01-25,2017-11-19
date_diff,73,1862,752,755,52
conditionnan,0,0,1,0,0
height(m),0.0778,0.1419,0.409,0.1782,0.1106

In [24]:
nan_counts(train)

                 Total    %
height(m)            0  0.0
conditionnan         0  0.0
date_diff            0  0.0
listing_date_dt      0  0.0
issue_date_dt        0  0.0
pet_category         0  0.0
breed_category       0  0.0

In [25]:
nan_counts(test)

                 Total    %
height(m)            0  0.0
conditionnan         0  0.0
date_diff            0  0.0
listing_date_dt      0  0.0
issue_date_dt        0  0.0
X2                   0  0.0
X1                   0  0.0

In [26]:
train.to_csv('C:/Pet-Adoption/train_updated.csv',index=False)

In [27]:
test.to_csv('C:/Pet-Adoption/test_updated.csv',index=False)